*{
    margin: 0;
    padding: 0;
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    
}
p{
    padding: 5px;
}
.header{
    height: 100vh;
}
.navbar-style{
    background-color: #FFFFFF;
    /* box-shadow: 0 5px 10px #eeeeee; */
    box-shadow: 0 5px 10px #b79cc4;
}
.logo{
    height: 45px;
    padding: 3px 10px;
}
.icon-bar{
    background: #800080;
}

li a{
    color:darkorchid;
}

.period{
    color: #8e26be;
}

.background{
    background-color: #e5c2f5;
    /*background: '../img/brown.jpg';*/
}

.bioSection{
    border-radius: 10px;
    /*background-color: #deacf5;*/
}
.progress-bar {
    background-color: #C4A484 !important;
}

.hobbiesContainer{
    border: 3px solid #e5c2f5;
    padding: 10px;
}

h2{
    padding-left: 10px;
}
.form-control{
    background-color: #f3e3fa !important;
}
.form-control::-webkit-input-placeholder {
    color: black !important;
    opacity: 0.7;
  }

footer{
    background-color: #e5c2f5;
}
.socials{
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .background{
        background-color: lightblue;
    }
    
    .personalPicture{
        width: 300px; 
        height: 300px;
    }
    /*background changes color when max width is 600px*/
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .bioSection{
        background-color: #eba2c9;
    }
    
    .personalPicture{
        width: 300px; 
        height: 300px;
    }
    /* first section color changes color when min width is 900px*/
}

@media screen and (min-width: 900px) {
    footer{
        background-color: #e5c2f5;
    }
    .personalPicture{
        width:470px; 
        height: 470px;
    }
    /* footer color changes color when min width is 900px*/
}